<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selection</title>
</head>
<body style="height: 600px;">
    <div id="app">
      <i-form ref="editData" :model="editData" :rules="ruleValidate">
        <form-item label="selection" prop="selection">
          <selection v-model="editData.selection" :value="items"  placeholder="请选择"
                     :filter-method="filter" clearable multiple
                     default-index
                     :context="this" label-model="labels"
                     @on-open="log('open')" @on-close="log('close')"
          ></selection>
        </form-item>
        <form-item label="select" prop="select">
          <div class="groups cat-pre">
            <i-select v-model="editData.select" clearable>
              <i-option v-for="i in items" :key="i.value" :value="i.value">{{i.label}}</i-option>
            </i-select>
          </div>
        </form-item>
      </i-form>
    </div>
</body>
</html>
